PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/lendloop
JWT_SECRET=troque-por-um-segredo-longo-e-aleatorio
FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_USER=
EMAIL_APP_PASSWORD=